 
    body {
        display: grid;
        grid-template-columns: 10% 30% 10% 50%;
        grid-template-rows: 50px 50px 50px 50px 50px 50px;
        background-image: url(https://www.aalto.fi/sites/g/files/flghsv161/files/styles/2_3_1380w_600h_n/public/2019-04/aalto_university_azerty_new_keyboard_22-3-2019_photo_mikko_raskinen_001_original.jpg?h=2992ba0a&itok=tKAzgTwK);
        background-size: cover;
        background-attachment: fixed;
    } 
    #titulo {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #encabezado {
        font-size: 20px;
        font-family: Stencil Std, fantasy;
        color: whitesmoke;
        text-decoration: underline;
    }
    #fotoPerfil {
        display: fixed; 
        top: 50px;
        left: 50px;
        height:400px;
        width: 250px;
    }
    #educacion {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    #experienciasLaborales {
        grid-column: 4/5;
        grid-row: 3/4;
    }
    #skills {
        grid-column: 4/5;
        grid-row: 4/5;
    }
    #descripcionPersonal {
        grid-column: 4/5;
        grid-row: 5/6;
    }
    #carrera {
        grid-column: 4/5;
        grid-row: 6/7;
    }
    #title1 {
        color: whitesmoke;
        font-family: Stencil Std, fantasy;
        text-decoration: underline;
    }
    #title2 {
        color: whitesmoke;
        font-family: Stencil Std, fantasy;
        text-decoration: underline;
    }
    #title3 {
        color: whitesmoke;
        text-decoration: underline;
    }
    #title4 {
        color: whitesmoke;
        font-family: Stencil Std, fantasy;
        text-decoration: underline;
    }
    #henry {
        color: whitesmoke;
        font-family: Stencil Std, fantasy;
        text-decoration: underline;
    }     

