 
    body {
        display: grid;
        grid-template:  10% 10% 10% 25% 25% 20% / 10% 35% 10% 35% 10%;
        background-image: url(https://www.aalto.fi/sites/g/files/flghsv161/files/styles/2_3_1380w_600h_n/public/2019-04/aalto_university_azerty_new_keyboard_22-3-2019_photo_mikko_raskinen_001_original.jpg?h=2992ba0a&itok=tKAzgTwK);
        background-size: cover;
        background-attachment: fixed;
    } 
    #titulo {
        grid-area: 1 / 2 / 3 / 3;  /* Titulo y foto de perfil en la parte superior izquierda */  
    }
    #encabezado { 
        font-size: 20px;
        font-family: Stencil Std, fantasy;
        color: black;
        text-decoration: underline;
    }
    #fotoPerfil {
        height: 400px;
        width: 250px;
    }
    #educacion { /* De aca en adelante, todos estan en la misma columna (anteultima), pero varian las filas */
        grid-area: 1 / 4 / 2 / 5;        
    }
    #experienciasLaborales {
        grid-area: 2 / 4 / 3 / 5;        
    }
    #skills {
        grid-area: 3 / 4 / 4 / 5;
    }
    #descripcionPersonal {
        grid-area: 4 / 4 / 5 / 5;
    }
    #carrera {
        grid-area: 5 / 4 / 6 / 5;
    }

    /* Aca solo es estilos de texto, muy basico al 14/01/2021 */

    #title1 {
        color: whitesmoke;
        font-family: Stencil Std, fantasy;
        text-decoration: underline;
    }
    #title2 {
        color: whitesmoke;
        font-family: Stencil Std, fantasy;
        text-decoration: underline;
    }
    #title3 {
        color: whitesmoke;
        text-decoration: underline;
    }
    #title4 {
        color: whitesmoke;
        font-family: Stencil Std, fantasy;
        text-decoration: underline;
    }
    #henry {
        color: whitesmoke;
        font-family: Stencil Std, fantasy;
        text-decoration: underline;
    }     

